<div *ngIf="heladoEntrante" >
  <form #modelo="ngForm" (ngSubmit)="actualizar(heladoEntrante)" novalidate>
    <div>
      <label>Sabor</label>
      <input name="sabor" #sabor type="text" [(ngModel)]="heladoEntrante.sabor" >
    </div>
    <div>
      <label>Color</label>
      <input name="color" #color  type="text" [(ngModel)]="heladoEntrante.color">
    </div>
    <div>
      <input type="submit" value="ACTUALIZAR">
    </div>
  </form>
</div>
<form *ngIf="!heladoEntrante" #modelo="ngForm" (ngSubmit)="onSubmit(sabor.value, color.value)" novalidate>
    <div>
      <label>Sabor</label>
      <input name="sabor" #sabor type="text">
    </div>
    <div>
      <label>Color</label>
      <input name="color" #color  type="text">
    </div>
    <div>
      <input type="submit" value="GUARDAR">
    </div>
  </form>